.gradle
build
.idea

AccountService/build
AccountService/.gradle

BillService/build
BillService/.gradle

ConfigService/build
ConfigService/.gradle

DepositService/build
DepositService/.gradle

Gateway/build
Gateway/.gradle

NotificationService/build
NotificationService/.gradle

RegistryService/build
RegistryService/.gradle